/* header section style */
.bannar {
    display: flex;
    padding: 197px 240px 0px;
    justify-content: space-between;

}

header {
    background: rgba(229, 84, 115, 0.10);
    margin: 0px;
}

.bannar-description {
    max-width: 800px;
}

.bannar-image {
    max-width: 600px;
}

.bannar-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 80px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: normal;
}

.bannar-paragraph {
    color: rgba(39, 39, 39, 0.60);
    /* font-family: Lato; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
}

.bannar button {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: white;
}


/* main section style */

/* section 1 styles */

.section1 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    /* padding: 100px 350px 100px 350px; */
}

.hot-deal {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    padding: 100px 350px 100px 350px;
}

.off {
    /* border-radius: 8px; */
    color: #E55473;
}

.deal-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-content {
    /* max-width: 400px; */
    margin-right: 200px;
    margin-top: 100px;
    margin-left: 100px;
}

.sign-up {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

/* Section 2 styles */

.section2 {
    margin-top: 100px;
}

.social-link {
    text-align: center;
}

.social-media-title {
    color: #272727;
    text-align: center;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}

.social-media-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    /* font-family: Lato; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.images {
    display: block;
    margin: 50px 240px 100px 240px;
    /* margin: auto; */
    text-align: center;
}

.img {
    margin-right: 10px;
}

/* section 3 styles */

.section3 {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin: auto;
}

.letest-deal {
    text-align: center;
}
.letest{
    padding-top: 100px;
}
.letest-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.letest-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.subscribetion input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.subscribetion button {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.subscribetion {
    text-align: center;
}