body {
    font-family: 'Lato', sans-serif;
}

/* header section style */
.bannar {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: center;
}

header {
    background: rgba(229, 84, 115, 0.10);
    margin: 0 auto;
    background-image: url('../Flower Asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bannar-description {
    max-width: 800px;
    padding-right: 100px;
    padding-top: 100px;
    padding: 170px 950px 100px 240px;
}



  
.bannar-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    line-height: normal;
}

.bannar-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.bannar-description button {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: white;
}


/* main section style */

/* section 1 styles */

.section1 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    background-image: url('../Flower Asset/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: 1200px 30px;
}

/* .hot-deal {
    display: flex;
    text-align: center;
    padding: 100px 350px 100px 350px;
    justify-content: center;
} */

.off {
    color: #E55473;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-content {
    text-align: center;
    padding: 100px 350px 100px 0px;
}

.sign-up {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

/* Section 2 styles */

.section2 {
    margin-top: 100px;
}

.social-link {
    text-align: center;
}

.social-media-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.social-media-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.images {
    display: block;
    margin: 50px 200px 100px 200px;
    text-align: center;
}

.img {
    margin-right: 10px;
}

/* section 3 styles */

.section3 {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin: auto;
}

.letest-deal {
    text-align: center;
}

.letest {
    padding-top: 100px;
}

.letest-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.letest-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.subscribetion input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.subscribetion button {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.subscribetion {
    text-align: center;
}

/* this is footer style */

footer {
    background: #111010;
    margin-top: 100px;
}

.flower {
    color: #E55473;
}

.shop {
    color: #FFFFFF;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
}

.footer-content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}